<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.domain.mapper.AddressMapper">
    <resultMap id="BaseResultMap" type="com.wechat.domain.model.Address">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="provinces" jdbcType="VARCHAR" property="provinces"/>
        <result column="cities" jdbcType="VARCHAR" property="cities"/>
        <result column="areas" jdbcType="VARCHAR" property="areas"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, provinces, cities, areas, address,name,telephone
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from address
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from address
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wechat.domain.model.Address" useGeneratedKeys="true" keyProperty="id">
        <!--@mbg.generated-->
        insert into address ( provinces, cities,
        areas, address,name,telephone)
        values (#{provinces,jdbcType=VARCHAR}, #{cities,jdbcType=VARCHAR},
        #{areas,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{telephone,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.wechat.domain.model.Address">
        <!--@mbg.generated-->
        insert into address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="provinces != null">
                provinces,
            </if>
            <if test="cities != null">
                cities,
            </if>
            <if test="areas != null">
                areas,
            </if>
            <if test="address != null">
                address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="provinces != null">
                #{provinces,jdbcType=VARCHAR},
            </if>
            <if test="cities != null">
                #{cities,jdbcType=VARCHAR},
            </if>
            <if test="areas != null">
                #{areas,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wechat.domain.model.Address">
        <!--@mbg.generated-->
        update address
        <set>
            <if test="provinces != null">
                provinces = #{provinces,jdbcType=VARCHAR},
            </if>
            <if test="cities != null">
                cities = #{cities,jdbcType=VARCHAR},
            </if>
            <if test="areas != null">
                areas = #{areas,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wechat.domain.model.Address">
        <!--@mbg.generated-->
        update address
        set provinces = #{provinces,jdbcType=VARCHAR},
        cities = #{cities,jdbcType=VARCHAR},
        areas = #{areas,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>