<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.domain.mapper.NewsMapper">
    <resultMap id="BaseResultMap" type="com.wechat.domain.model.News">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, detail, url
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from news
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from news
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wechat.domain.model.News"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into news (detail, url)
        values (#{detail,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wechat.domain.model.News"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="detail != null">
                detail,
            </if>
            <if test="url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wechat.domain.model.News">
        <!--@mbg.generated-->
        update news
        <set>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wechat.domain.model.News">
        <!--@mbg.generated-->
        update news
        set detail = #{detail,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--查询全部新闻by杨思源-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from news
    </select>
</mapper>