<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.domain.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.wechat.domain.model.Order">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="creat_time" jdbcType="TIME" property="creatTime"/>
        <result column="pay_time" jdbcType="TIME" property="payTime"/>
        <result column="end_time" jdbcType="TIME" property="endTime"/>
        <result column="sum_price" jdbcType="INTEGER" property="sumPrice"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, creat_time, pay_time, end_time, sum_price
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from order
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from order
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wechat.domain.model.Order">
        <!--@mbg.generated-->
        insert into `order` (user_id,creat_time,pay_time,end_time,sum_price)values(#{userId},#{creatTime},#{payTime},#{endTime},#{sumPrice})
    </insert>
    <insert id="insertSelective" parameterType="com.wechat.domain.model.Order">
        <!--@mbg.generated-->
        insert into order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="creatTime != null">
                creat_time,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="sumPrice != null">
                sum_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="creatTime != null">
                #{creatTime,jdbcType=TIME},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIME},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIME},
            </if>
            <if test="sumPrice != null">
                #{sumPrice,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wechat.domain.model.Order">
        <!--@mbg.generated-->
        update order
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="creatTime != null">
                creat_time = #{creatTime,jdbcType=TIME},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIME},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIME},
            </if>
            <if test="sumPrice != null">
                sum_price = #{sumPrice,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wechat.domain.model.Order">
        <!--@mbg.generated-->
        update order
        set user_id = #{userId,jdbcType=INTEGER},
        creat_time = #{creatTime,jdbcType=TIME},
        pay_time = #{payTime,jdbcType=TIME},
        end_time = #{endTime,jdbcType=TIME},
        sum_price = #{sumPrice,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>