<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.wechat.domain.mapper.UserScoreMapper">
  <resultMap id="BaseResultMap" type="com.aaa.wechat.domain.model.UserScore">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="last_sign" jdbcType="TIMESTAMP" property="lastSign" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, score, `days`, last_sign
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_score
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_score
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.aaa.wechat.domain.model.UserScore" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_score (user_id, score, `days`, 
      last_sign)
    values (#{userId,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, #{days,jdbcType=INTEGER}, 
      #{lastSign,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.aaa.wechat.domain.model.UserScore" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="days != null">
        `days`,
      </if>
      <if test="lastSign != null">
        last_sign,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="days != null">
        #{days,jdbcType=INTEGER},
      </if>
      <if test="lastSign != null">
        #{lastSign,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.wechat.domain.model.UserScore">
    <!--@mbg.generated-->
    update user_score
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="days != null">
        `days` = #{days,jdbcType=INTEGER},
      </if>
      <if test="lastSign != null">
        last_sign = #{lastSign,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.wechat.domain.model.UserScore">
    <!--@mbg.generated-->
    update user_score
    set user_id = #{userId,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      `days` = #{days,jdbcType=INTEGER},
      last_sign = #{lastSign,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>